*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;    
}

.display-4 {
    color: 	#B22222;
}

.subtitulo {
    color: 	#FA8072;
}

.logo{
    padding-bottom: .5rem!important;
    padding-top: .5rem!important;
    display: inline-block!important;
    color: var(--tex-color);
    font-size: 20px;
    font-weight: bold;
}

.navegacao{
    display: flex;
}

.navegacao a{
    font-size: medium;
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;    
}

.header-icons{
}

#menu{
    font-size: 75px;
    z-index: 10001;
    cursor: pointer;
}

.header-icons{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat();
    align-items: center;
    gap: 2rem;
}