*{
    font-family: serif;
}

.card-img-top{
    background-position-x: 30rem;
}

main{
    background-color: rgba(255, 255, 255, 0.753);
}

.espaco {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}
