a {
    color: #000;
 }
 /* link que foi visitado */
a:visited {
     color: #555;
 }
 /* quando o ponteiro do mouse passa no link */
a:hover {
     color: #999;
 }
 /* quando o link for selecionado */
a:active {
     color: #333;
 }

*{
    font-family: serif;
}

.card-img-top{
    background-position-x: 30rem;
}

main{
    background-color: rgba(255, 255, 255, 0.753);
}

.espaco {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}


.material-symbols-outlined {
    position:absolute;
    font-size: 24px; 
    transform: scale(2);
    right: 5rem;
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
}

.hide {
    visibility: hidden;
    opacity: 0;
   }